<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Bulletin Board</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
        .form-control {
            font-size: 13px;

        }

        a {
            visibility: inherit;
            color: black;
            text-decoration: none;
        }

        .form-control:focus {
            box-shadow: 0 0 0 0px;
            border-color: #FFC107;
        }

    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script  th:inline="javascript">
        let loginId = [[${loginId}]];
        let boardId = [[${board.boardId}]];

        // 날짜를 변환 함수
        function formatDate(dateString) {
            const date = new Date(dateString);
            const year = date.getFullYear();
            const month = String(date.getMonth() + 1).padStart(2, '0');
            const day = String(date.getDate()).padStart(2, '0');
            return `${year}-${month}-${day}`;
        }

        //삭제 버튼 추가
        function createDeleteButton(){
                const deleteButton = $("<button>").addClass("commentDeleteButton dropdown-item").text("삭제");
                const dropdownMenu = $("<ul>").addClass("dropdown-menu").append($("<li>").append(deleteButton));
                const dropdown = $("<div>").addClass("dropdown").append($("<a>").attr("href", "#").attr("role", "button").attr("data-bs-toggle", "dropdown").attr("aria-expanded", "false").html('<img src="../icons/icons8-꺼짐-연결-상태-22.png"/>'), dropdownMenu);
                const actionCell = $("<td>").addClass("commentHandling").append(dropdown);

                return actionCell;
        }

        //댓글 행 생성
        function createCommentRow(comment) {
            const row = $("<tr>");
            const writerCell = $("<td>").html("<strong>" + comment.commenter + ":");
            const commentCell = $("<td>").text(comment.comment);
            const dateCell = $("<td>").text(formatDate(comment.regDate));

            // 로그인한 사용자와 댓글 작성자가 같으면 삭제 버튼 추가
            if (comment.commenter === loginId) {
                // 댓글 ID를 서버로 전달하기 위한 input 요소 추가
                const commentIdInput = $("<input>").attr("type", "hidden").attr("name", "commentId").val(comment.commentId);
                row.append(writerCell, commentCell, dateCell, createDeleteButton().append(commentIdInput));
            } else {
                row.append(writerCell, commentCell, dateCell); // 로그인한 사용자와 댓글 작성자가 다른 경우, 삭제 버튼 없이 행 생성
            }

            return row;
        }

        //대댓글 행 생성
        function createReplyRow(reply) {
            const row = $("<tr>")
            const writerCell = $("<td>").attr("style", "padding-left:30px;").html("<strong>" + reply.commenter + ":");
            const commentCell = $("<td>").text(reply.comment);
            const dateCell = $("<td>").text(formatDate(reply.regDate));

            // 로그인한 사용자와 댓글 작성자가 같으면 삭제 버튼 추가
            if (reply.commenter === loginId) {
                const commentIdInput = $("<input>").attr("type", "hidden").attr("name", "commentId").val(reply.commentId);
                row.append(writerCell, commentCell, dateCell, createDeleteButton().append(commentIdInput));
            } else {
                row.append(writerCell, commentCell, dateCell); // 로그인한 사용자와 댓글 작성자가 다른 경우, 삭제 버튼 없이 행 생성
            }

            return row;
        }

        // 댓글과 대댓글을 테이블에 추가하는 함수
        function appendCommentsAndReplies(comments, replies) {
            const tableBody = $("#commentTableBody");
            tableBody.empty();
            $("#commentData").val('');

            comments.forEach(function (comment) {
                const commentRow = createCommentRow(comment);
                tableBody.append(commentRow);

                replies.forEach(function (reply) {
                    if (reply.pcommentId === comment.commentId) {
                        const replyRow = createReplyRow(reply);
                        tableBody.append(replyRow);
                    }
                });
            });
        }

        $(document).ready(function() {
            $("#commentInsertButton").click(function() {
                const comment = $("#commentData").val();

                $.ajax({
                    type: "PUT",
                    url: "/comment",
                    data: { comment: comment, boardId: boardId },
                    success: function(response) {
                        // 기존 내용 모두 지우기
                        const tableBody = $("#commentTableBody");
                        tableBody.empty();
                        $("#commentData").val('');

                        const comments = response.comments;
                        const replies = response.replies;
                        appendCommentsAndReplies(comments, replies);
                    },
                });
            });

            $(document).on("click", ".commentDeleteButton", function() {
                const clickedButton = $(this);
                const commentId = clickedButton.closest('td.commentHandling').find('input').val();
                console.log(commentId);

                $.ajax({
                    type: "DELETE",
                    url: "/comment",
                    data: { commentId: commentId, boardId:boardId},
                    success: function(response) {
                        // 기존 내용 모두 지우기
                        const tableBody = $("#commentTableBody");
                        tableBody.empty();
                        $("#commentData").val('');

                        const comments = response.comments;
                        const replies = response.replies;
                        appendCommentsAndReplies(comments, replies);
                    },
                });
            });
        });
    </script>
</head>
<body>
<div class="container" style="max-width: 400px">
    <!--프로젝트 로고-->
    <div class="text-center mt-5">
        <a th:href="@{/boards}"><h1><strong th:text="#{project.title}"></strong></h1></a>
        <hr class="my-1">
        <h6><strong th:text="#{project.subtitle}">project by KimYeJin</strong></h6>
    </div>
    <!--/프로젝트 로고-->
</div>

<div class="container" style="max-width: 350px" th:object="${board}">
    <!--게시 성공 문구-->
    <div class="text-center pt-2">
        <h5 style="color:gray;"><strong th:if="${param.status}" th:text="#{project.board.success}"></strong></h5>
    </div>
    <!--/게시 성공 문구-->

    <!--게시글 편집, 삭제 버튼-->
    <div th:if="${loginId eq board.memberId}" class="row">
        <div class="col">
            <button class="btn btn-dark btn-sm float-end mb-1 mx-1" th:text="#{label.button.delete}"
                    data-bs-target="#deleteModal" data-bs-toggle="modal" type="button">delete
            </button>
            <button class="btn btn-warning btn-sm float-end mb-1 mx-1" th:text="#{label.button.edit}"
                    th:onclick="|location.href='@{/boards/edit/{boardId}(boardId=${board.boardId})}'|"
                    type="button">edit
            </button>
        </div>
    </div>
    <!--/게시글 편집, 삭제 버튼-->

    <!--게시글 이미지-->
    <img th:if="${board.getImgName()} != 'default' "
         th:src="|/boards/images/${board.getImgName()}|" class="img-fluid my-2"/>
    <!--/게시글 이미지-->

    <!--게시글 상세내용-->
    <input type="text" class="form-control my-1" id="title" th:field="*{title}" readonly>
    <textarea class="form-control my-1" id="body" rows="10" th:field="*{body}" readonly></textarea>
    <!--/게시글 상세내용-->
</div>

<!--댓글 컨테이너, 목록 버튼-->
<div class="container" style="max-width: 400px">
    <div>
        <table id="commentTable" class="table text-center" style="font-size: 13px">
            <tbody id="commentTableBody">
            <div th:each="comment : ${comments}">
            <tr th:if="${comment.pcommentId == null}">
                <!-- 댓글 표시 -->
                <td><strong th:text="${comment.commenter} + ':'">작성자</strong></td>
                <td th:text="${comment.comment}">댓글 내용</td>
                <td th:utext="${#dates.format(comment.regDate, 'yyyy-MM-dd')}">등록일</td>
                <td class="commentHandling">
                    <input type="hidden" th:value="${comment.commentId}" th:name="commentId"/>
                    <div class="dropdown" th:if="${loginId eq comment.commenter}">
                        <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="../icons/icons8-꺼짐-연결-상태-22.png"/>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <button type="button" class="commentDeleteButton dropdown-item" th:text="#{label.button.delete}">삭제</button>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            <!-- 대댓글 표시 -->
            <tr th:each="reply : ${replies}" th:if="${reply.pcommentId == comment.commentId}">
                <td style="display: none;">
                    <input id="replyId" type="hidden" th:value="${reply.commentId}" th:name="commentId"/>
                </td>
                <td style="padding-left: 30px;"><strong th:text="${reply.commenter} + ':'">작성자</strong></td>
                <td th:text="${reply.comment}">대댓글 내용</td>
                <td th:utext="${#dates.format(reply.regDate, 'yyyy-MM-dd')}">등록일</td>
                <td class="commentHandling">
                    <input type="hidden" th:value="${reply.commentId}" th:name="commentId"/>
                    <div class="dropdown" th:if="${loginId eq reply.commenter}">
                        <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="../icons/icons8-꺼짐-연결-상태-22.png"/>
                        </a>

                        <ul class="dropdown-menu">
                            <li>
                                <button type="button" class="commentDeleteButton dropdown-item" th:text="#{label.button.delete}">삭제</button>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            </div>
            </tbody>
            <tfoot>
            <td colspan="5">
                <div class="input-group">
                    <input type="text" class="form-control input-style" id="commentData" th:placeholder="#{label.input.board.reply}"
                           placeholder="Reply" aria-label="Recipient's username" aria-describedby="commentInsertButton">
                    <button class="btn btn-warning" type="button" style="font-size:14px;" id="commentInsertButton"
                            th:text="#{label.button.ok}">OK
                    </button>
                </div>
            </td>
            </tfoot>
        </table>
    </div>


    <div class="row">
        <div class="col">
            <button class="btn btn-dark btn-sm float-start mb-1 mx-1" th:text="#{label.button.gotolist}"
                    th:onclick="|location.href='@{/boards}'|"
                    type="button">Go to List
            </button>
        </div>
    </div>
</div>
<!--/댓글 컨테이너, 목록 버튼-->

<!-- 게시글 삭제 확인 Modal -->
<div class="modal" tabindex="-1" id="deleteModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:text="#{modal.title.delete}">Confirm Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <h6 th:text="#{modal.body.delete}">Do you really want to delete?</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark btn-sm" data-bs-dismiss="modal"
                        th:text="#{label.button.cancel}">Cancel
                </button>
                <button type="button" class="btn btn-warning btn-sm" th:text="#{label.button.delete}"
                        th:onclick="|location.href='@{/boards/delete/{boardId}(boardId=${board.boardId})}'|"
                        onclick="location.href='index2.html'">OK
                </button>
            </div>
        </div>
    </div>
</div>
<!--/게시글 삭제 확인 modal-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>
</html>